/* 
    Password Icon Specific CSS Styling
*/

#passwordReq {
    position: absolute;
    transition: 0.3s;
    z-index: 99;
    padding: 0.8rem;
    margin: -60px 0 0 105px;
    border-radius: 0.6rem;
    background-color: var(--magenta);
}

#passwordReq p,
#passwordReq li {
    font-size: 0.8rem;
    color: var(--white);
}

#passwordReq ul {
    padding-left: 25px;
}

#visibilityIcon {
    cursor: pointer;
    position: absolute;
    margin: 10px 0 0 -30px;
}